<!DOCTYPE html>
<html>

<head>
    <title>Calendar</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="../static/styles/calendar.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/navbar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>

<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="home.html" id="brand"><i class="fas fa-book"></i> Study Connect</a>
        <a href="profile.html">Profile</a>
        <a href="courses.html">Courses</a>
        <a href="calendar.html">Calendar</a>
        <a href="contact.html">Contact</a>
    </div>
    <br>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>


    <div class="container emp-profile">
        <iframe
            src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=Y19wZmk0cWJhZGQ1bzRuZHU5ZmVzOGlqMnBlMEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23EF6C00"
            style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/scripts/navbar.js"></script>
</body>

</html>